body {
  background-color: #e8e6d5;
  width: 100vw;
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
td {
  padding: 10px 0;
}
.container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.content-1 {
  display: flex;
  justify-content: space-between;
  font-family: "Cinzel", serif;
  margin-top: 40px;
  margin-bottom: 50px;
}

.content-1 h1 {
  font-size: 5rem;
  font-weight: 100;
  text-decoration: underline 2px;
  margin: 0 0 0 100px;
}

.content-1 a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  margin: auto 100px;
}

.content-2 {
  display: flex;
  justify-content: space-around;
}

.content-2 .subcontent {
  width: 50%;
}

.subcontent img {
  margin: 0 0 0 -100px;
  width: 100%;
}

.room-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.room-name {
  font-family: "Source Serif 4", serif;
  letter-spacing: 10px;
  font-style: italic;
  font-size: 3.5rem;
  margin: 0 0 10px 20px;
  transition: 0.4s ease;
  text-shadow: none;
  color: #290001;

  &:hover {
    scale: 1.1;
    text-shadow: 4px 4px rgb(253, 46, 46);
  }
}

.room-name p {
  margin: auto 0;
}

/* FACILITIES */

.facil {
  margin-top: 100px;
}

.facilities {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
  position: relative;
}

.facilities .content {
  width: 50%;
  margin: 30px 0;
}

.facilities p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  font-style: italic;
  line-height: 35px;
  margin-top: 0;
}

.facilities.left img {
  float: right;
  margin: 0 20px 0 0;
  width: 80%;
}

.facilities.left.last {
  color: white;
}
.facilities.right p {
  text-align: right;
  margin-right: 20px;
}

.facilities.right .content img {
  float: left;
  width: 80%;
}

.block {
  background-color: #290001;
  height: 115%;
  width: 50%;
  position: absolute;
  left: -300px;
  top: -40px;
  z-index: -1;
}

.block2 {
  height: 120%;
  background-color: #c87941;
  position: absolute;
  right: -50px;
  z-index: -1;
  top: -50px;
  width: 70%;
}

/* REVIEW */
.review {
  margin-top: 100px;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
  background-color: #290001;
}

.review h1 {
  font-family: "Courgette", cursive;
  text-align: center;
  text-decoration: underline;
  font-size: 3rem;
  margin-right: 30px;
}

.review-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.review-card {
  width: 30%;
  margin: 50px auto;
  text-align: center;
}

.review-card .name {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin: 0;
}

.review-card .reviews {
  font-family: "Courgette", cursive;
  font-size: 1.5rem;
  margin: 10px 0;
}

/* CTA */
.cta {
  font-family: "Courgette", cursive;
  font-size: 1.7rem;
  margin-top: 100px;
}

.cta .first {
  margin: 50px 0 50px 50px;
  color: #290001;
}

.cta .second {
  text-align: right;
  margin: 50px 50px 50px 0;
  color: #c87941;
}

.cta img {
  width: 50%;
  margin: 50px 0 50px 50px;
}

.cta .third {
  text-align: center;
  margin: 50px 0 50px 0;
  color: #fd9637;
}

hr {
  border: 1px solid black;
  opacity: 0.8;
  width: 100%;
  margin: 50px auto;
}

.cta a {
  text-align: center;
  text-decoration: underline;
  color: black;
  font-size: 2rem;
}

.cta-button {
  display: flex;
  justify-content: center;
  opacity: 0.7;

  transition: 0.3s ease;

  &:hover {
    scale: 1.2;
    opacity: 1;
  }
}

/* FOOTER */

.footer {
  font-family: "Cinzel", serif;
}

.footer h1 {
  font-size: 3rem;
  margin: 0;
}

.footer li {
  list-style-type: none;
  margin: 0;
  font-size: 2rem;
  margin-left: -40px;
}

/* ROOM CONTENT */
.room-content {
  display: flex;
  justify-content: space-between;
}

.rp-roomname {
  font-family: "Cinzel", serif;
  font-size: 5rem;
  margin: 40px 0 40px 0;
  text-decoration: underline 2px;
}

.room-content div {
  width: 50%;
}
.room-content img {
  width: 80%;
  margin-left: 20px;
}
.rp-content-tag {
  display: flex;
  justify-content: center;
}
.rp-tagline {
  margin: auto 0;
  font-family: "Cinzel", serif;
  font-size: 2.5rem;
  text-align: center;
}

.backbutton {
  font-family: "Cinzel", serif;
  text-align: right;
  font-size: 1.5rem;
  color: black;
  margin: 30px 0 0 0;
}

/* ORDER PAGE */
.op-title {
  font-family: "Cinzel", serif;
  font-size: 5rem;
  margin: 40px 0 40px 20px;
  text-decoration: underline 2px;
}
.op form p {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 2rem;
  margin: 0 0 20px 20px;
}

.main-container {
  display: flex;
  justify-content: space-around;
}
form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.left-container {
  width: 45%;
  background-color: #c87941;
  padding: 50px 0;
  box-shadow: 4px 4px #290001;
}

label {
  display: block;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
}

.form-item input {
  width: 100%;
  border: 1px solid #290001;
  padding: 5px 10px;
  background-color: #c87941;
  color: white;
  opacity: 1;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  border-radius: 10px;
  margin-top: 10px;
}

.form-item {
  width: 80%;
  margin: 10px 20px;
}

.right-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

::placeholder {
  color: white;
  opacity: 0.8; /* Firefox */
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.right-1 {
  height: 55%;
  padding: 10px 0;
  background-color: #c87941;
  box-shadow: 4px 4px #290001;
}
.right-2 {
  height: 30%;
  padding: 10px 0;
  background-color: #c87941;
  box-shadow: 4px 4px #290001;
}

.form-submition {
  display: flex;
  justify-content: center;
}
.form-submition input {
  font-family: "Poppins", sans-serif;
  margin: 20px auto;
  font-size: 2rem;
  border: none;
  background-color: #e8e6d5;
  text-align: center;
}

/* Payment Page */
.pp .main-container .left-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  height: 300px;
}

.right-container p {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 2rem;
  margin: 0 0 10px 20px;
}

.pp input {
  margin-top: 0;
}

.pp .form-submition {
  margin-top: 50px;
}

/* ADMIN DASHBOARD */

.adb .content {
  display: flex;
  justify-content: space-between;
}

.adb-title {
  font-family: "Cinzel", serif;
  font-size: 5rem;
  margin: 40px 0 10px 20px;
  text-decoration: underline 4px;
}

.adb .left {
  width: 50%;
  height: 500px;
}

.adb .left a {
  font-size: 3.5rem;
  font-family: "Cinzel", serif;
  color: black;
  text-decoration: none;
}
ul {
  list-style: none;
}

.adb .right {
  width: 50%;
}

.adb .preview {
  background-color: #c87941;
  padding: 20px;
  margin: 10px;
  box-shadow: 4px 4px #290001;
}

.adb .title {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin: 0;
  text-decoration: underline;
}

.adb .num {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: white;
}

/* DASHBOARD */
table {
  background-color: #c87941;
  font-family: "Poppins", sans-serif;
  color: white;
  width: 100%;
  box-shadow: 4px 4px #290001;
}

td {
  font-weight: lighter;
  text-align: center;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.heading a {
  margin: auto 30px auto 0;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: black;
}

/* LOGIN */

.log-reg {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login.container {
  width: 500px;
  padding: 30px;
  background-color: #c87941;
  box-shadow: 4px 4px #290001;
  text-align: center;
}
h4 {
  margin-bottom: 10px;
  margin-top: 0;
  color: white;
  font-size: 2rem;
  font-family: "Cinzel", serif;
}
.login input {
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  width: 95%;
  background-color: #c87941;
  border: 1px solid black;
}

.log-reg ::placeholder {
  color: white;
}
#submit {
  border: none;
  background-color: #290001;
  color: white;
  width: 200px;
  margin: 10px 0 20px auto;
  border-radius: 5px;
  font-size: 1.2rem;
}
#submit:hover {
  background-color: #333333;
}

.log-reg a {
  color: white;
  opacity: 0.8;
  font-family: "Poppins", sans-serif;
}

.form-submition a {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
}

select {
  background-color: #c87941;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  width: 100%;
  font-size: 1.2rem;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  border-color: black;
  margin-top: 10px;
}
